        h1 {
            font-family: sans-serif;
            font-size: 24pt;
            background-color: blue;
        }
        
        h2 {
            font-size: 18pt;
            background-color: blue;
        }
        
        h3 {
            font-size: 14pt;
            background-color: blue;
        }
        
        body {
            font-size: 10pt;
            background-color: green;
        }
        
        i {
            color: blue;
        }